rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read and write access to playlist
    match /playlist/{document} {
      allow read, write: if true;
    }
    
    // Allow read and write access to voted songs
    match /votedSongs/{document} {
      allow read, write: if true;
    }
  }
}